* { 
    padding: 0; 
    margin: 0;  
    box-sizing: border-box; 
    font-family: cursive; 
  } 
    
  body { 
    background: #f2f2f2; 
    overflow: auto; 
  } 
    
  h1{ 
     text-align: center; 
     margin: 5%; 
     font-size: 3rem; 
     text-decoration: underline; 
  } 

  label{
    margin: 1%; 
     font-size: 1rem; 
  }
  p{
    margin: 1%; 
  }

input[type=text] {
    align-items: center;
    border: none;
    border-radius: 0;
    width: 60%;
    padding: 15px 22px;
    /* margin: 10px 5px; */
    box-sizing: border-box;  
}

button{
    background-color: #6c7eaf;
    border: none;
    color: white;
    padding: 18px 36px;
    text-decoration: none;
    margin: 5px 4px;
    cursor: pointer;  
}

  ul { 
    text-align: lleft;  
    padding: 0;
    padding: 7%; 
    font-size: 1.5rem; 
    list-style: circle; 
  } 
  ul li:nth-child(odd) {
  background: #f9f9f9;
}